version: 2.1

jobs:
  build:
    machine: true
    steps:
      - checkout
      - run:
          command: make
          name: build
      - store_artifacts:
          path: Manifest
      - store_artifacts:
          path: environment.bz2
      - store_artifacts:
          path: smoketest
      - run:
          command: make push-image
          name: push image

workflows:
  commit:
    jobs:
      - build
  weekly:
    triggers:
      - schedule:
          cron: "20 20 * * 2"
          filters:
            branches:
              only:
                - master
    jobs:
      - build
